{% extends 'base.html.twig' %}

{% block body %}

    <h2>Créez votre cocktail !</h2>

    <section>
        {{ form_start(form) }} {# <form method="post"> #}
        {{ form_widget(form) }} {# champs du formulaire #}
        {{ form_end(form) }} {# </form> #}
    </section>

{% endblock %}